@font-face {
    font-family: Norde-Bold;
    src: url(/fonts/Norse-Bold.otf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Norse-Bold, sans-serif;
    /*border: red solid 2px;*/
}


.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(./images/GreenLeafSmall.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
} 

.right {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;
}

.first {
    height: 33vh;
    display: flex;
    align-items: flex-end;
    padding-left: 60px;
    padding-bottom: 80px;
}

.second {
    /*height: 33vh;*/
    background-color: white;
    padding: 20px 0 20px 60px;
    box-shadow: 2px 5px 5px #e5e7eb;
}

.third {
    height: 33vh;
    padding-left: 60px;
}

.form-main-div {
    display: flex;
    flex-direction: row;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin: 20px 40px 20px 0px;
}

input {
    width: 200px;
    border: 1px solid #e5e7eb;
    height: 24px;
    border-radius: 2px;
}

input:focus {
    border: 1px solid blue;
}

input:invalid {
    border: 1px solid red;
}

label {
    font-size: 12px;
}

#error {
    color: red;
    font-size: 10px;
}


.btn-green {
    background-color: #596D48;
    color: white;
    border: 1px solid #596D48;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    margin-top: 30px;
    font-weight: bolder;
}

.third > p {
    margin-top: 40px;
}

.third > p > a {
    color: #596D48;
    text-decoration: none;
    font-weight: 700;
}

.footer {
    height: 60vh;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.image {
    height: 40vh;
    display: flex;
    align-items: flex-end;
}

.semi-transparent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: Norse-Bold, sans-serif;
    padding: 10px;
}
