@font-face {
    font-family: Norde-Bold;
    src: url(/fonts/Norse-Bold.otf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Norse-Bold, sans-serif;
    /*border: red solid 2px;*/
}


.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(./images/GreenLeafSmall.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

} 

.right {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;
}

.first {
    height: 33vh;
    display: flex;
    align-items: flex-end;
    padding-left: 60px;
    padding-bottom: 80px;
}

.second {
    /*height: 33vh;*/
    background-color: white;
    padding: 20px 0 20px 60px;
}

.third {
    height: 33vh;
    padding-left: 60px;
}

.form-main-div {
    display: flex;
    flex-direction: row;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin: 20px 40px 20px 0px;
}

input {
    width: 200px;
    border: 1px solid #e5e7eb;
    height: 24px;
    border-radius: 2px;
}

input:focus {
    border: 1px solid blue;
}

label {
    font-size: 12px;
}