@font-face {
    font-family: Norde-Bold;
    src: url(/fonts/Norse-Bold.otf);
}

* {
    padding: 0px;
    margin: 0px;
    /*border: red solid 2px;*/
}

h1 {
    font-family: Norse-Bold, sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(./images/GreenLeaf.avif);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: auto;
} 

.right {
    display: flex;
    justify-content: center;
}